<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WEB TESIS</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css'>
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <!-- MENÚ DE NAVEGACIÓN -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="https://images.vexels.com/content/142747/preview/diamond-squares-logo-e8fe66.png" alt="Logo" style="height: 40px;"></div>
            <ul class="nav-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/predictor">Predictor</a></li>
                <li><a href="/material">Material</a></li>
            </ul>
            <!-- Botón de menú para pantallas pequeñas -->
            <div class="hamburger" id="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </nav>
    </header>
    <!-- partial:index.partial.html -->
    <main>
        <iframe width="1920" height="800" src="https://lookerstudio.google.com/embed/reporting/d08a7024-4922-48d8-9a20-7188e0261d2b/page/v26JF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>

    </main>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js'></script>
    <script src="../static/js/script.js"></script>
    
</body>

</html>